@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');


body {
  margin: 0;
  font-family: "Cal Sans", sans-serif;
}

.strong-font {
  font-family: "Inter", sans-serif;
}

.styled-font {
  font-family: "Zilla Slab Highlight", monospace;
}

strong.strong-font {
  font-size: 2em;
}

span {
  font-size: 1.6em;
}


header {
  background-color: #FCF4ED;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 12px;
}

#pulse-logo {
  width: 24vh;
  height: auto;
}

.logo {
  width: 6vh;
  height: auto;
}

.nav-item {
  transition: transform 0.1s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.2);
}

#pulse-logo {
  transition: transform 0.2s ease-in-out;
}

#pulse-logo:hover {
  transform: skew(8deg);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 12px;
}

.flex-container.column {
  flex-direction: column;
}

.centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}


.image-text {
  position: absolute;
  color: white;
  font-size: 8.5rem;
}

#gym-image {
  width: 100vw;
  height: 60vh;
  filter: brightness(0.3);
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1
}

.offer-banner {
  background-color: #05DF72;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  gap: 16px;
}

.offer-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.offer-text {
  display: flex;
  flex-direction: column;
}

.offer-banner a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 14px 24px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}


section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;

}
